---
headline:
  text: 'Hinweis'
text: 'Falsches Gerät&hellip;'
---
<div class="partial" data-partial="elements/unsuitable-device-layer">
  <div>
    {{{mixin "agency-pkg-element-base/headline/h2" headline}}}
    <p>
      {{{text}}}
    </p>
  </div>
  <img src="{{{relativeToRoot}}}assets/img/lighter-off.png" />
</div>
