---
headline:
  text: 'Warnung'
text: 'Die Verbindung mit einem Feuerzeug erhöht das Risiko einer verbrennung.'
---
<div class="partial" data-partial="elements/warning-layer">

<div>
  {{{mixin "agency-pkg-element-base/headline/h2" headline}}}
  <p>
    {{{text}}}
  </p>
  <button class="button" data-hook="applyButton">Weiter</button>
</div>

<img src="{{{relativeToRoot}}}assets/img/lighter.png" />

</div>
