---
images:
  -
    image:
      src: 'assets/img/image-1.jpg'
  -
    image:
      src: 'assets/img/image-2.jpg'
  -
    image:
      src: 'assets/img/image-3.jpg'
  -
    image:
      src: 'assets/img/image-4.jpg'
---
<div class="grid-g">
  {{#each images}}
    <div class="grid-col-12-12">
      {{{mixin "agency-pkg-element-light-spot/debug" this index=@index}}}
    </div>
  {{/each}}
</div>
